@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(../assets/Redwing-Light.otf) format("otf");
  src: local("MyFont"), url(../assets/Redwing-Medium.otf) format("woff");

  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

* {
  font-family: "MyFont";
}

.page {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: auto;
  overflow: hidden;
}
.page-wrapper {
  width: 100%;
  will-change: transform;
}
.page > h1 {
  margin: 144px auto 32px;
  font-size: 38px;
  line-height: 46px;
  color: #0d1a26;
  font-weight: 400;
  text-align: center;
}
.page > i {
  width: 64px;
  margin: auto;
  height: 2px;
  display: block;
  background: #16d9e3;
  background: linear-gradient(
    to right,
    rgba(22, 217, 227, 1) 0%,
    rgba(22, 119, 227, 1) 100%
  );
}
.banner-anim-arrow {
  opacity: 0;
}
.banner-anim:hover .banner-anim-arrow {
  opacity: 1;
}
.banner {
  background: url(https://gw.alipayobjects.com/zos/rmsportal/okhVRKJXxQpbpKGtKneS.svg)
    no-repeat center top;
  background-size: contain;
  overflow: hidden;
  font-family: PingFang SC, Helvetica Neue For Number, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei,
    Helvetica Neue, Helvetica, Arial, sans-serif;
}
.banner .page {
  max-width: 1248px;
}
.banner .logo {
  background: url(https://gw.alipayobjects.com/zos/rmsportal/khXpcyRYlACLokoNTzwc.svg)
    no-repeat;
  width: 127px;
  height: 110px;
  margin: 86px auto 40px;
}
.banner .banner-anim {
  margin: 0 auto 64px;
  height: 600px;
  box-shadow: 0 20px 32px rgba(1, 4, 8, 0.12);
  background: #fff;
  border-radius: 8px;
}
.banner .banner-anim-elem .banner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
}
.banner .seeconf-wrap {
  text-align: center;
  color: blue;
}
.banner .seeconf-wrap .banner-button {
  margin: 64px 0 26px;
}
.banner .seeconf-wrap .banner-button .ant-btn {
  height: 35px;
  line-height: 35px;
  border-radius: 35px;
  background: #2354eb;
  box-shadow: 0 7px 13px #91a5f2;
  padding: 0 28px;
  font-size: 12px;
}
.banner .seeconf-wrap .banner-button .ant-btn a {
  text-decoration: none;
}
.banner .seeconf-en-name {
  margin: 140px 0 0;
  font-size: 12px;
  line-height: 32px;
}
.banner .seeconf-title {
  margin: 16px 0 24px;
  font-size: 56px;
  line-height: 68px;
  text-indent: 2px;
  font-weight: 600;
  color: #02063d;
}
.banner .seeconf-cn-name {
  font-size: 18px;
}
.banner-button .ant-btn {
  color: #fff;
  border: none;
}
.page1 {
  min-height: 720px;
}
.page1 .page > h1 {
  margin-top: 64px;
}
.page1-item {
  text-align: center;
  margin-top: 96px;
  display: flex;
  flex-direction: row;
}
.page1-item-link {
  display: block;
  width: 180px;
  margin: auto;
}
.page1-item-img {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #fff;
  position: relative;
  z-index: 1;
}
.page1-item-title {
  margin-top: 56px;
  font-size: 20px;
  color: #0d1a26;
}
.page1-item p {
  color: #697b8c;
  margin-top: 8px;
}
.page1 .point-wrapper {
  position: absolute;
  width: 0;
  left: 50%;
  top: 0;
  z-index: 0;
}
.page1 .point-wrapper .point-0 {
  width: 4px;
  height: 4px;
}
.page1 .point-wrapper .point-2 {
  width: 10px;
  height: 10px;
}
.page1 .point-wrapper .point-ring {
  width: 12px;
  height: 12px;
  border-style: solid;
  border-width: 1px;
  background: transparent !important;
}
.page1 .point-wrapper .point-ring-0 {
  width: 4px;
  height: 4px;
}
.page1 .point-wrapper .point-1 {
  width: 12px;
  height: 12px;
}
.page1 .point-wrapper .point-3 {
  width: 21px;
  height: 21px;
}
.page1 .point-wrapper i {
  display: inline-block;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
  transform: translate(0, 30px);
}
