.littleImages {
  /* background-color: black; */
  display: flex;
  align-items: center !important;
  justify-content: space-evenly !important;
  flex-direction: column !important;
}



.imagesBanner img{
  width: 150px;
  margin: 40px;

}

