.footer {
  background: linear-gradient(to bottom, #031d6a, #000e48);
  color: #fff;
}
.footer-wrap {
  padding: 72px 24px 144px;
}
.footer-wrap .footer-item {
  display: inline-block;
  text-align: left;
}
.footer-wrap .footer-item h2 {
  margin-bottom: 24px;
  color: #fff;
  font-size: 16px;
}
.footer-wrap .footer-item div {
  margin-bottom: 12px;
  font-size: 14px;
}
.footer-wrap .footer-item div a {
  color: rgba(256, 256, 256, 0.9);
}
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 21px 0;
  line-height: 22px;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
}
.footer-bottom a {
  color: rgba(255, 255, 255, 0.6);
}
