/* .ant-layout-content{
    background: white ;
    display: flex;
    justify-content: center;
} */

.loginFormContainer{
    background: white ;
    display: flex;
    justify-content: center;


}
.ant-card{
    width: 75%;
    background: #f5f5f5;
    margin:5%;
    border-radius: 1em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 3px 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.button-form{
    display: flex;
    justify-content: center;
}
.btn-form{
    width: 5em;
    height:34px;
    display: flex;
    text-align: center;
    background: #e19f17;
    border: 1px solid #726f69;
    border-radius: 5px;
    color:#000000 ;
    transition:all 0.3s ease;

}
.btn-form:hover{
    background: #e9cb8e;
    border:1px solid #e19f17;
    color: black;
    transition:all 0.3s ease;
}

