.divProduct {
  display: flex;
  justify-content: center;
}

.ant-card-head {
  background: linear-gradient(180deg, #2469f4, #113bbf);
  box-shadow: 0 16px 40px #0f2da0;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    box-shadow 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  height: 14px;
  margin: auto;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.ant-card-body {
  background: linear-gradient(180deg, #2469f4, #113bbf);
  box-shadow: 0 16px 40px #0f2da0;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    box-shadow 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  height: 380px;
  margin: auto;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

element.style {
  background: rgb(2 8 12) !important;
  padding: 8px 0px;
}
.imageClass {
  width: 300px;
  height: 300px;
  margin-bottom: 5px;
}

/* .ant-btn-primary {
  color: #000;
  border-color: #041a2e;
  background: #dbff16;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  border-radius: 10px;
} */
/* 
.ant-btn-primary:hover {
  color: #000;
  border-color: #041a2e;
  background: #f716ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  border-radius: 10px;
}
 */
.technology-wrap {
  overflow: hidden;
  color: #fff;
  text-align: center;
  background: url(https://gw.alipayobjects.com/zos/rmsportal/OciuRSqhtmcYCwJRJWSz.svg)
    no-repeat top;
  background-size: cover;
}

.ant-card-actions {
  background: #c72626;
  border-top: 1px solid #f0f0f0;
  border-radius: 5px;
}
